<p class="logo">
  <h1 class="logo"><a href="{{ pathto(master_doc) }}">Early warning for BNS mergers</a></h1>
</p>

{% if theme_description %}
<p class="blurb">{{ theme_description }}</p>
{% endif %}
